.card {
  //ROTATION FUNCTION
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 54rem;

  &__side {
    height: 54rem;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    width: 100%;
    border-radius: 3px;
    box-shadow: 0 1.5rem 2.4rem rgba($color-black, .15);

    &--front {
      background-color: $color-white;
    }

    &--back {
      transform: rotateY(180deg);

      &-1 {
        background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
      }
      &-2 {
        background-image: linear-gradient(to right bottom, $primary-color-light, $primary-color-dark);
      }
      &-3 {
        background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark);
      }
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }
  &:hover &__side--back {
    transform: rotateY(0);
  }

  //STYLING
  //Picture
  &__picture {
    background-size: cover;
    background-blend-mode: screen;
    height: 25rem;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    overflow: hidden;

    &--1 {
      background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark),
                        url(../img/nat-5.jpg);
    }
    &--2 {
      background-image: linear-gradient(to right bottom, $primary-color-light, $primary-color-dark),
                        url(../img/nat-6.jpg);
    }
    &--3 {
      background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark),
                        url(../img/nat-7.jpg);
    }
  }

  //Heading
  &__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    position: absolute;
    top: 15.3rem;
    right: 2.5rem;
    color: $color-white;
    width: 75%;
  }
  &__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;

    &--1 {
      background-image: linear-gradient(to right bottom,
      rgba($color-secondary-light, .85),
      rgba($color-secondary-dark, .85));
    }
    &--2 {
      background-image: linear-gradient(to right bottom,
      rgba($primary-color-light, .85),
      rgba($primary-color-dark, .85));
    }
    &--3 {
      background-image: linear-gradient(to right bottom,
      rgba($color-tertiary-light, .85),
      rgba($color-tertiary-dark, .85));
    }
  }

  //List
  &__details {
    padding: 3rem;
    ul {
      list-style: none;
      width: 80%;
      margin: 0 auto;

      li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem;

        &:not(:last-child) {
          border-bottom: .1rem solid $color-grey-dark;
        }
      }
    }
  }

  //Backside Styling
  &__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center;
  }
  &__price-box {
    color: $color-white;
    margin-bottom: 7rem;
  }
  &__price-only {
    text-transform: uppercase;
    font-size: 1.5rem;
  }
  &__price-value {
    font-size: 6rem;
    font-weight: 100;
  }

}
