.feature-box {
  background-color: rgba($color-white, .8);
  font-size: 1.5rem;
  text-align: center;
  border-radius: 3px;
  padding: 2.5rem;
  box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
  transition: transform 0.2s;

  &__icon {
    font-size: 6rem;
    display: inline-block;
    background-image: linear-gradient(to right, $primary-color-light, $primary-color-dark);
    -webkit-background-clip: text;
    color: transparent;

  }

  &:hover {
    transform: translateY(-1rem) scale(1.03);
    box-shadow: 0 1.8rem 4.5rem rgba($color-black, .15);
  }
}
