.story {
  width: 75%;
  margin: 0 auto;
  padding: 6rem;
  padding-left: 9rem;
  background-color: rgba($color-white, .5);
  box-shadow: 1.2rem 2rem 2rem rgba($color-black, .11);
  border-radius: 3px;
  font-size: $default-font-size;
  transform: skewX(-12deg);


  &__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
    position: relative;
  }

  &__img {
    height: 100%;
    transform: translateX(-4rem) scale(1.4);
    transition: all .5s;
    // backface-visibility: hidden;
  }

  &__text {
    transform: skewX(12deg);
  }

  &__caption {
    color: $color-white;
    font-size: 1.7rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    text-transform: uppercase;
    text-align: center;
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden;
  }

  &:hover &__caption {
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  &:hover &__img {
    transform: translateX(-3rem) scale(1);
    filter: blur(.3rem) brightness(70%);
  }
}
